.results{
    display: grid;
    place-content: center;
  
    width: 70vw;
    height: 30vh;
    min-height: 330px;
  
    border-radius: 10px;
    padding: 30px;
  
    background-color: var(--very-dark-cyan);
    
    font-size: 24px;
  
    align-items: center;
    justify-content: center;
  }
  
  .tip-result, .total-result{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.7rem; 
    
    width: 56vw;

  }
  
  
  .amount-label{
    font-size: 24px;
    color: var(--white);
    margin: 0;
  }
  
  .person-label{
    color: var(--grayish-cyan);
    font-size: 14px;
  
    margin: 0;
  }
  
  .tip__amount, .total__amount{
    color: var(--strong-cyan)
  }
  
  .resetButton{
    width: 100vw;
    max-width: 56vw;
  
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
  }

@media screen and (min-width: 820px){
    .results{
        width: 30vw;
        height: 46vh;
    }

    .tip-result, .total-result{
      width: 29vw;
    }

    .total-result{
      margin-bottom: 5rem;
    }

    .resetButton{
        width: 30vw;
        max-width: 475px;
    }


      
}