
#root {
  display: grid;
  place-items: center;
}



.calculator{
  display: grid;
  place-items: center;

  width: 100vw;

  height: 100vh;

  min-height: 900px;
  border-radius: 20px 20px 0 0;

  text-align: left;
  padding: 30px;

  color: var(--dark-grayish-cyan);
  background-color: var(--white);
}

label{
  font-weight: 700;
  margin-bottom: 0.7rem;
  margin-right: 1rem;
}

input{
  width: 88vw;
  height: 4vh;

  min-height: 40px;

  border-radius: 10px;
  padding: 5px;
  padding-right: 18px;
  background-position: 17px 15px;
  background-repeat: no-repeat;
  text-align: right;

  font-family: 'Space Mono', monospace;
  font-weight: 700;

  color: var(--very-dark-cyan);
  background-color: var(--very-light-grayish-cyan);
}

.results{
  display: grid;
  place-content: center;

  width: 80vw;
  height: 30vh;
  min-height: 330px;

  border-radius: 10px;
  padding: 30px;

  background-color: var(--very-dark-cyan);
  
  font-size: 24px;

  align-items: center;
  justify-content: center;
}

.tip-result, .total-result{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.7rem; 

}


.amount-label{
  font-size: 24px;
  color: var(--white);
  margin: 0;
}

.person-label{
  color: var(--grayish-cyan);
  font-size: 14px;

  margin: 0;
}

.tip__amount, .total__amount{
  color: var(--strong-cyan)
}

.resetButton{
  width: 100vw;

  color: var(--very-dark-cyan);
  background-color: var(--strong-cyan);
}

@media screen and (min-width: 820px){

  .calculator{
    display: grid;
    grid-template-columns: auto auto;

    place-items: center;

    min-width: 660px;
    max-width: 70vw;

    min-height: 520px;
    max-height: 55vh;
  }

  .inputs{
    width: 30vw;
    margin: 10px;
  }

  input{
    width: 27vw;
  }

  .results{
    width: 30vw;
    height: 50vh;
  }
}

